# Only applies in docker compose, not in local development with cargo

IMAGE_PROXY_ROOT_PATH=/app/data
IMAGE_PROXY_STRIP_PATH=
IMAGE_PROXY_FALLBACK_IMAGE_URL=
IMAGE_PROXY_RESIZE_ALGORITHM=auto
IMAGE_PROXY_AVIF_SPEED=7
IMAGE_PROXY_AVIF_QUALITY=75
IMAGE_PROXY_JPEG_QUALITY=75
IMAGE_PROXY_WEBP_QUALITY=75
IMAGE_PROXY_PNG_COMPRESSION_LEVEL=6
RUST_LOG=debug